/* normalize css across all browsers */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link{
  text-decoration: none;
  color: seashell;
}
a:visited {
  color: seashell
}

.App {
  height: 95vh;
  background-color: rgb(0, 0, 0);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.App-header {
  height: 3vh;
  
  display: flex;
  background-color: #0F1111;
}

.left-side {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  
  
  
}


.header-link {
  float: left;
  align-items: flex;
  justify-content: center;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
}
.header-link:hover {
  border: 1px solid #fff;
}

.intro-text {
  position: absolute;
  top: 20%;
  left: 30%;
  text-align: center;
}
.primary-heading {
  color: seashell;
  text-transform: uppercase;
  padding-bottom: 60px;
}
.introduction-main {
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 25px;
  animation-name: moveInLeft;
  animation-duration: 1s;
}
.introduction-sub {
  display: block;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 20px;
  animation-name: moveInRight;
  animation-duration: 1s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }

  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: (0);
  }
}

@keyframes moveUpFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 1;
    transform: translateY(-10px)
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  width: 140px;
  color:#0F1111
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(77, 2, 77);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(156, 7, 156);
}

.github-button,
.linkedin-button {
  background-color: #fff;
  color: #777;
  margin-bottom: 50px;
}



.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.button-animation {
  animation: moveUpFromBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}
.intro-button {
  display: block;
}